<table border="1" width="800">
<tr align="center">
  <td colspan="2"><h1>FileAttacher</h1></td>
</tr>
<tr>
  <td width="80%" rowspan="2">Descripci&oacute;n</td>
  <td width="20%">
  <%= link_to "Autentificación", log_in_path %>
  </td>
</tr>
<tr>
  <td>
  <%= link_to "Registro", sign_up_path %>
  </td>
</tr>
</table>
