<table border="0" width="800" align="center">
<tr>
<td colspan="2">
<br/>
<hr width="100%">
</td>
</tr>
<tr align="center">
  <td colspan="2"><h1>FileAttacher</h1></td>
</tr>
<tr>
  <td width="80%" rowspan="2">
  <table border="0" width="100%">
  <tr>
    <td class="texto">
<p>Cada vez más los usuarios optan por la opción de guardar archivos en la nube, teniendo todos sus archivos importantes en todo momento y lugar. Esta tendencia que viene creciendo con más fuerza, es por eso que te damos esta opción en donde podrás tener todas tus cosas estés donde estés.</p>

<p>Muchas ventajas puede brindarnos la nube para movernos y tener nuestros archivos, trabajos y documentos en todo momento, o porque no realizar un backups y teniendo siempre archivos de resguardo en caso de algún imprevisto.</p>

<p align="center"><b>Prueba nuestra opción.</b></p>
    </td>
    <td>
      <img src="cloud.png"/>
    </td>    
  </tr>  
  </table>
  
  </td>   
  <td width="20%" align="center">
  <%= link_to "Autentificación", log_in_path %>
  </td>
</tr>
<tr>
  <td align="center">
  <%= link_to "Registro", sign_up_path %>
  </td>
</tr>
<tr>
<td colspan="2">
<br/>
<hr width="100%">
</td>
</tr>
</table>
